<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.pello.android.androidloaderssample">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SQLLoaderMainActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".SimpleProvider"
            android:authorities="io.pello.android.androidloaderssample.provider.Students"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".DatabaseContentProvider"
            android:authorities="io.pello.android.androidloaderssample.sqlprovider.Todo"
            android:enabled="true"
            android:exported="true">
            <uses-permission android:name="io.pello.android.androidloaderssample.provider.Students.READ" />
            <!-- TODO: We could apply permissions -->

            android:readPermission="io.pello.android.androidloaderssample.provider.READ"
            android:writePermission="io.pello.android.androidloaderssample.provider.WRITE"
            android:permission="io.pello.android.androidloaderssample.provider.READ_WRITE"

        </provider>
    </application>

</manifest>